.notConnected {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.connect {
    margin-top: 20px;
    font-size: 30px;
}

.display {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.controls {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.controls > button {
    font-size: 30px;
}

.topControls {
    align-self: flex-end;
    margin: 0.5em;
}

.iconButton {
    width: 32px;
    height: 32px;
}

.iconButton > svg {
    fill: #fff;
}

.link {
    color: #c7cbff;
    cursor: pointer;
    display: inline;
    user-select: none;
    overflow-wrap: break-word;
}
